<h1 style="color:white; background-color:red;">All Tasks</h1>
<% @tasks.each do |task| %>
  <h3 style="margin-bottom:-20px; font-size:25px; color:#538b01; background-color:yellow;">
  <a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
  <p style="font-size:20px; color:pink; background-color:yellow;"><%= task.description %></p>
  <a href="tasks/<%= task.id %>/edit">Edit</a>
  <form action="/tasks/<%= task.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  <form/> 
<% end %>
<footer> <a href="/">Return to Task Manager</a></footer>
